.card-table{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 600px;
  width: 1200px;
  margin: 50px;
}

.card-front {
  position: relative;
  width: 200px;
  height: 280px;
}

.ace {
background-image: url("assets/ace.jpg");
}

.jack {
  background-image: url("assets/jack.jpg");
}

.queen {
  background-image: url("assets/queen.jpg");
}

.king {
  background-image: url("assetsking.jpg");
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("assets/card-back.jpg");
  width: 200px;
  height: 280px;
  opacity: 0;
}
